@import url("./reset.css");

:root {
	--primary: #07aecf;
	--secondary: #dc9dfb;
	--background: #ffffff;
	--accent: #c52707;
	--text: #0c2201;
}

body {
	display: grid;
	font-family: Verdana, sans-serif;
	min-height: 100svh;
	overflow: hidden;
	background-color: var(--background);
	color: var(--text);
	grid-template-rows: 1fr 1fr 9fr 2rem;
}
header {
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}
header * {
	align-items: center;
}
rem .logo-container,
.search-bar,
.temperature-btn-container {
	display: flex;
	flex: 1 1 0px;
	gap: 1rem;
}

#search-form {
	display: flex;
	gap: 1rem;
}

.temperature-btn-container {
	justify-content: flex-end;
}

button {
	height: 2.5rem;
	width: 4rem;
	border: solid;
	border-radius: 12px;
}

.city-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 16rem;
	padding-top: 4rem;
}

.weather-now-main {
	display: flex;
}

.weather-temp-container {
	display: flex;
}

.weather-main-container {
	display: flex;
	align-self: center;
	flex-direction: column;
}

.weather-main-container {
	display: flex;
}

main * {
	border: solid 2px black;
}

.weather-now-details {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2rem;
}

.weekly-forecast-details {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.weekly-forecast-details > li {
	display: flex;
	justify-content: space-between;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer {
	text-align: center;
}

@media (max-width: 720px) {
	header {
		flex-direction: column;
	}
}
