/* Import */
@import url("./reset.css");



:root {
	--primary: #4b262b;
	--secondary: #1d1011;
	--background: #070304;
	--accent: #dbb8bd;
	--text: #f0e0e3;
}



body {
	display: grid;
	font-family: Verdana, sans-serif;
	min-height: 100svh;
	max-height: 100svh;
	overflow: hidden;
	background-color: var(--background);
	color: var(--text);
	grid-template-rows: 1fr 1fr 9fr 2rem;
}

header {
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

header * {
	align-items: center;
}

.logo-container,
.search-bar,
.temperature-btn-container {
	display: flex;
	flex: 1 1 0px;
	gap: 1rem;
}

#search-input {
	padding: 10px;
	border: 2px solid var(--accent);
	border-radius: 5px;
	background-color: var(--background);
	color: var(--text);
	margin-right: 10px;
	transition: border-color 0.3s ease;
}

button {
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary);
	color: var(--text);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:focus {
	outline: none;
	border-color: var(--primary);
}

button:active {
	background-color: var(--background);
	color: var(--accent);
}

button:hover {
	background-color: var(--secondary);
}

.logo-container > img {
	width: 4rem;
}

#search-form {
	display: flex;
	gap: 1rem;
}

.temperature-btn-container {
	justify-content: flex-end;
}

.city-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4rem;
}

main {
	display: grid;
	grid-template-columns: 24rem 1fr 0.9fr;
	grid-template-rows: 1fr;
	padding-left: 4rem;
	padding-right: 4rem;
	gap: 2rem;
	height: 100%;
	align-items: center;
}



.weather-main-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

#weather-temp {
	text-align: end;
	font-size: 8em;
	font-weight: bold;
	overflow-x: auto;
}

.weather-desc-container {
	text-align: right;
}

#weather-desc {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5px;
}

#weather-feels-like,
#weather-wind-desc,
.date-and-time {
	color: #777;
}

.weather-feels-like,
.weather-wind-desc {
	font-size: 1.5em;
}

.weather-now-details-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
}

.weather-now-details {
	max-width: 75%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.weather-now-details > div {
	aspect-ratio: 1;
	min-width: 10rem;
	padding: 1rem;
}

.weather-now-details div {
	display: flex;
	flex-direction: column;
}

.weather-now-details-heading {
	color: #b1b1b1;
}

.weather-now-details-data {
	font-weight: bold;
	position: relative;
	bottom: 0.5rem;
	flex: 1;
	align-self: center;
	text-align: center;
	justify-content: center;
	font-size: 1.75rem;
}



.weekly-forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 32rem;
}

.available-forecast-day {
	display: grid;
	width: 100%;
	grid-auto-flow: column;
	grid-template-columns: repeat(4, 1fr);
	padding: 15px;	
}

.available-forecast-day > div {
	justify-self: center;
}

.paywalled-forecast {
	grid-auto-flow: column;
	grid-template-columns: 1fr;
}

.paywalled-forecast-day {
	padding: 15px;
	background-color: #3a2729;
	border: #3a2729 solid;
	border-radius: 8px;
	text-align: center;
}



.weather-now-details > div,
.available-forecast-day {
	background-color: var(--primary);
	color: var(--text);
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paywalled-forecast h3 {
	width: 100%;
}

.weekly-forecast-day {
	font-size: 1.2em;
}

#weekly-forecast-temp,
#weekly-forecast-feelslike,
#weekly-forecast-wind {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer {
	background-color: var(--primary);
	color: var(--text);
	text-align: center;
	padding-top: 0.3rem;
	font-weight: bold;
}

img {
	-webkit-filter: invert(1);
	filter: invert(1);
}

h2 {
	font-size: 2rem;
}


.loader {
	border: 4px solid var(--accent);
	border-top: 4px solid var(--primary);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  .loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background); 
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: opacity 0.5s ease; 
  }
  
  .loading-screen p {
	color: var(--text);
	font-size: 20px;
	margin-left: 10px;
  }



@media (max-width: 1640px) {
	main > * {
		align-items: center;
	}
	header {
		padding: 1rem;
	}
	main {
		margin: 0;
		padding: 4rem;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		overflow-y: scroll;
	}
	h1 {
		display: none;
	}
	.weather-main-container {
		align-items: center;
	}
	.weather-main-container > * {
		text-align: center;
		align-items: center;
	}
	.weather-now-details {
		width: 42rem;
	}
	.weekly-forecast {
		gap: 1rem;
	}
	.weekly-forecast > li {
		width: 32.5rem;
	}
}
